.news-card {
  background: #f8f8f8;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  width:80%;
}

.news-card h3 {
  margin: 0 0 10px 0;
  font-size: 20px;
  font-weight: 600;
}

.news-card p {
  margin-bottom: 15px;
  color: #444;
}

.read-btn {
  padding: 6px 12px;
  background: #6e6e6e;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.read-btn:hover {
  background: #555;
}
