.wellness-container {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
}


.wellness-card {
  width: 260px;
  background: #f8f8f8;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.value-row {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.limit {
  color: gray;
}

.input-box {
  width: 100%;
  margin-top: 10px;
  padding: 6px;
  font-size: 15px;
}

.progress-bar {
  width: 100%;
  height: 14px;
  background: #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 12px;
}

.progress-fill {
  height: 100%;
  background: #6f8ff7;
  transition: 0.3s ease;
}

.percent-text {
  text-align: right;
  margin-top: 5px;
  font-size: 14px;
  color: #333;
}


